
Clinica_Progra_IV/
SVC/obj/Debug/SVC.pdb
SVC/obj/Debug/SVC.dll
SVC/obj/Debug/SVC.csprojAssemblyReference.cache
SVC/bin/Debug/SVC.pdb
SVC/bin/Debug/SVC.dll
Site/obj/Debug/WCF_Site.csprojAssemblyReference.cache
Site/obj/Debug/Site.pdb
Site/obj/Debug/Site.dll
Site/bin/SVC.pdb
Site/bin/SVC.dll
Site/bin/Site.pdb
Site/bin/Site.dll
BLL/obj/Debug/BLL.csprojAssemblyReference.cache
SVC/obj/Debug/SVC.pdb
SVC/obj/Debug/SVC.dll
SVC/obj/Debug/SVC.csprojAssemblyReference.cache
SVC/bin/Debug/SVC.pdb
SVC/bin/Debug/SVC.dll
Site/obj/Debug/WCF_Site.csprojAssemblyReference.cache
Site/obj/Debug/Site.pdb
Site/obj/Debug/Site.dll
Site/bin/SVC.pdb
Site/bin/SVC.dll
Site/bin/Site.pdb
Site/bin/Site.dll
BLL/obj/Debug/BLL.csprojAssemblyReference.cache
.vs/Clinica_Progra_IV/v15/Server/sqlite3/storage.ide-shm
.vs/Clinica_Progra_IV/v15/.suo
